body {
  background-color: slategray;
}


#img_container {
  position: relative;
  text-align: center;
  color:white;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.font-lobster {
  font-family: 'Lobster', sans-serif;
}

.big-text {
  font-size:100px;
}

nav {
  box-sizing: border-box;
  background-color: aqua;
  width: 100%;
  overflow: hidden;
  position: sticky;
  top: 0;
}
nav ol{
  box-sizing: border-box;
  list-style-type: none;
  padding: 0;
  margin: 0;
  background-color: aqua;
  width:100%;
  overflow: hidden;
  top: 0;
}
nav ol li .navigation{
  box-sizing: border-box;
  float:left;
  width: 20%;
  text-align: center;
}
nav ol li a{
  box-sizing: border-box;
  display:block;
  text-decoration: none;
  color:black;
  padding: 5px 20px;
  transition: background-color 0.5s ease-in-out
}
nav ol li a:hover{
  box-sizing: border-box;
  background-color: lightgray;
}

#topics{
  margin-top:10px;
  display: flex;
  flex-direction: row;
  max-height: 500px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: stretch;
}


#topics article {
  border: 2px solid #000;
  border-color: blue;
  border-radius: 10px;
  margin-right:20px;
  width: 300px;
  text-align: center;
  background-color: black;
}


#topics article p, #topics article h1, #topics article ul {
  color:white;
  padding-left:10px;
  padding-right: 10px;
}

#topics article li {
  list-style: none;
}






#news{
  margin-top:10px;
  display: flex;
  flex-direction: row;
  max-height: 500px;
  margin-bottom: 5px;
  justify-content: center;
  align-items: stretch;
}


#news article {
  border: 2px solid #000;
  border-color: blue;
  border-radius: 10px;
  margin-right:20px;
  width: 300px;
  text-align: center;
  background-color: black;
}


#news article p, #news article h1, #news article ul {
  color:white;
  padding-left:10px;
  padding-right: 10px;
}

#news article li {
  list-style: none;
}

